html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1056px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1056px;
  margin: 0 auto;
  padding: 0 72px;
}

.btn {
  display: inline-block;
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #766357;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

/* Шапка сайта */

.main-header {
  background-color: #fff;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
}

.header-logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  margin-right: 147px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation-item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto;
}

.main-navigation-item:nth-child(2) {
  margin-right: 388px;
}

.main-navigation-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.main-navigation-link:hover {
  color: #81b3d2;
}

.main-navigation-link:active {
  color: #000;
  opacity: 0.3;
}

.main-navigation-link.main-navigation-link__active {
  color: #766357;
}

.main-navigation-link:active.main-navigation-link__active {
  color: #766357;
  opacity: 1;
}

/* Главная */

.promo-img {
  max-width: 1200px;
  min-height: 508px;
  margin-bottom: 60px;
  background-color: #fff;
  background: url("../img/bannersedona.jpg") no-repeat 0 -55px;
  background-size: cover;
}

.promo-header {
  width: 508px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.promo-title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 28px;
}

.promo-description {
  margin: 0;
  line-height: 26px;
  font-weight: 400;
  color: #333;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 55px;
}

.feature-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-row.feature-row__invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature-item {
  width: 400px;
  background-color: #81b3d2;
  text-align: center;
}

.feature-point {
  width: 400px;
  background-color: #fff;
}

.feature-point.feature-point__slogan {
  background-color: #eee;
}

.feature-title {
  width: 160px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.feature-title.feature-title__point {
  margin-top: 160px;
  color: #000;
  text-align: center;
}

.feature-title.feature-title__slogan {
  color: #000;
  text-align: center;
}

.feature-number {
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
}

.feature-number.feature-number__slogan {
  color: #333;
  text-align: center;
}

.feature-number:after {
  position: absolute;
  content: "";
  top: 10px;
  left: 5px;
  width: 10px;
  height: 1px;
  background: #fff;
}

.feature-number.feature-number__slogan:after {
  background: #333;
}

.feature-number:before {
  position: absolute;
  content: "";
  top: 10px;
  right: 5px;
  width: 10px;
  height: 1px;
  background: #fff;
}

.feature-number.feature-number__slogan::before {
  background: #333;
}

.feature-text {
  width: 286px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-align: center;
}

.feature-text.feature-text__point {
  margin-bottom: 80px;
  color: #333;
}

.feature-text.feature-text__slogan {
  color: #333;
}

.feature-point.feature-point__home {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 50% 23%;
}

.feature-point.feature-point__food {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 50% 22%;
}

.feature-point.feature-point__souvenirs {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 50% 22%;
}

.features-search {
  width: 570px;
  margin: 0 auto;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 24px;
}

.search-description {
  margin-bottom: 48px;
  font-weight: 400;
}

.btn-search {
  width: 100%;
  background-color: #766357;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #604e43;
}

.btn-search:active {
  background-color: #503e33;
  color: rgba(146, 138, 133, 0.3);
}

.features-map {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-map .wrapper {
  position: relative;
  width: 1200px;
  height: 473px;
  margin: 0 auto;
  overflow: auto;
}

.google-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 473px;
  border: none;
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: column;
  -ms-flex-align: column;
  align-items: column;
  width: 460px;
  margin-left: -285px;
  padding: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
  box-shadow: 0 0 15px 7px rgba(0, 1, 1, 0.15);
}

.search-form-show {
  display: none;
}

.search-form-row {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-form-label {
  padding: 6px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 315px;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  background-color: #f2f2f2;
  border: none;
}

.search-form-input:hover {
  background-color: #ebebeb;
}

.search-form-input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.search-form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form-input::-ms-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form-input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.search-form-calendar {
  width: 38px;
  text-align: left;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.search-form-calendar path {
  fill: #cacaca;
}

.search-form-calendar:hover path {
  fill: #000;
}

.search-form-calendar:active path {
  fill: #81b3d2;
}

.search-form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  width: 230px;
}

.search-form-label.search-form-label__children {
  padding-left: 50px;
}

.form-field-col {
  margin: 0;
  width: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.number-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
}

.btn-number {
  position: relative;
  width: 40px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.btn-number.btn-number__minus::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.btn-number:hover.btn-number__minus::after {
  background-color: #000;
}

.btn-number:active.btn-number__minus::after {
  background-color: #81b3d2;
}

.btn-number.btn-number__plus::after,
.btn-number.btn-number__plus::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 12px;
  width: 12px;
  height: 4px;
  background-color: #a9a9a9;
}

.btn-number.btn-number__plus::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-number:hover.btn-number__plus::after,
.btn-number:hover.btn-number__plus::before {
  background-color: #000;
}

.btn-number:active.btn-number__plus::after,
.btn-number:active.btn-number__plus::before {
  background-color: #81b3d2;
}

.btn-search-form {
  width: 100%;
  margin-top: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #81b3d2;
}

.btn-search-form:hover {
  background-color: #669ec0;
}

.btn-search-form:active {
  background-color: #5496bd;
  color: rgba(133, 176, 205, 0.3);
}

/*каталог*/

.filters-hotel {
  background-color: #33444c;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.filter-hotel-field {
  margin: 0;
  padding: 0;
  width: 150px;
  border: 0;
}

.filter-hotel-field:first-child {
  margin-right: 105px;
}

.filter-hotel-field:last-child {
  width: 320px;
  margin-left: auto;
}

.filter-hotel-description {
  margin-bottom: 25px;
  padding-top: 26px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.filter-hotel-description.filter-hotel-description__price-controls {
  margin-bottom: 10px;
}

.form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-item {
  margin-bottom: 25px;
}

.filter-hotel-label {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.filter-hotel-input+.filter-hotel-label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-hotel-input:checked+.filter-hotel-label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 5px;
}

.price-controls::after {
  position: absolute;
  content: "";
  left: 50%;
  height: 22px;
  width: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 25%);
  transform: translate(-50%, 25%);
}

.price-controls-label {
  display: inline-block;
  width: 160px;
  padding: 5px 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  vertical-align: top;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.price-controls-label__min,
.price-controls-label__max {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 90px;
  padding-left: 63px;
}

.price-controls-input {
  width: 45px;
  font: inherit;
  color: inherit;
  border: none;
  background: transparent;
}

.range-controls {
  position: relative;
  margin-bottom: 30px;
  background: transparent;
}

.range-controls .scale {
  width: 100%;
  height: 2px;
  background-color: #988683;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #fff;
}

.range-controls .range-toggle {
  position: absolute;
  top: -10px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.range-controls .range-toggle__min {
  left: 0;
}

.range-controls .range-toggle__max {
  left: 80%;
}

.btn-filter {
  margin-left: 85px;
  margin-bottom: 35px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #fff;
  border-radius: 5px;
  background: transparent;
}

.sort-row {
  margin: 0;
  margin-bottom: 28px;
}

.sort-row-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sort-row-item {
  margin-right: 33px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}

.sort-row-item:last-child {
  margin-right: 0;
  margin-left: 0;
}

.sort-row-link {
  display: block;
  color: #000;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-row-link {
  opacity: 0.3;
}

.sort-row-link:hover {
  color: #81b3d2;
  opacity: 1;
}

.sort-row-link:active {
  color: #000;
  opacity: 1;
  border: none;
}

.sort-row-item.sort-row-item__found {
  margin: 0;
  margin-right: 50px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.sort-row-item.sort-row-item__description {
  margin-right: 35px;
  border: none;
}

.sort-row-item.sort-row-item__active {
  border: none;
  color: #81b3d2;
}

.sort-row-item.sort-row-item__arrow {
  margin-left: 471px;
  margin-right: 14px;
}

.sort-row-item path {
  fill: #cacaca;
}

.sort-row-item:hover path {
  fill: #231f20;
}

.sort-row-item:active path {
  fill: #81b3d2;
}

.sort-row-item.sort-row-item__active path {
  fill: #81b3d2;
}

.catalog-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.catalog-item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 28px;
  border-top: 2px solid #e5e5e5;
}

.catalog-item:last-child {
  border-bottom: 2px solid #e5e5e5;
}

.catalog-item-photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.catalog-info {
  width: 260px;
}

.catalog-info-title {
  display: block;
  margin-bottom: 3px;
  font-size: 21px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
}

.catalog-info-title:hover {
  color: #81b3d2;
}

.catalog-info-title:active {
  opacity: 0.3;
}

.catalog-info-description {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.catalog-info-description-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  color: #333;
}

.catalog-info-description-text:first-child {
  margin-right: 37px;
}

.catalog-info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-info-btn-description,
.catalog-info-btn-book-it {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-right: 8px;
  padding: 4px 16px;
}

.catalog-info-btn-description {
  background-color: #81b3d2;
}

.catalog-info-btn-description:hover {
  background-color: #669ec0;
}

.catalog-info-btn-description:active {
  opacity: 0.3;
}

.catalog-info-btn-book-it {
  background-color: #766357;
}

.catalog-info-btn-book-it:hover {
  background-color: #604e43;
}

.catalog-info-btn-book-it:active {
  opacity: 0.3;
}

.catalog-rating {
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 110px;
}

.catalog-rating-text {
  display: block;
  margin-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: #f2f2f2;
}

.catalog-rating-stars {
  display: block;
  height: 20px;
}

.catalog-rating-stars.catalog-rating-stars__amara {
  background: url("../img/star.svg") 100% 0,
    url("../img/star.svg") no-repeat 75% 0,
    url("../img/star.svg") no-repeat 50% 0,
    url("../img/star.svg") no-repeat 25% 0;
  background-repeat: no-repeat;
}

.catalog-rating-stars.catalog-rating-stars__desert {
  background: url(../img/star.svg) 100% 0,
    url(../img/star.svg) 75% 0,
    url(../img/star.svg) 50% 0;
  background-repeat: no-repeat;
}

.catalog-rating-stars.catalog-rating-stars__villas {
  background: url(../img/star.svg) 100% 0,
    url(../img/star.svg) 75% 0;
  background-repeat: no-repeat;
}


/*футер*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-hashtag {
  margin-left: 132px;
  margin-right: 250px;
  width: 140px;
  font-size: 21px;
  line-height: 26px;
}

.footer-hashtag-link {
  text-decoration: none;
  color: #000;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 165px;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active path {
  background-color: #5496bd;
  opacity: 0.3;
}

.footer-copyrigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 200px;
  margin-left: 216px;
}

.footer-copyrigth-text {
  padding-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.footer-copyrigth-link {
  display: block;
  width: 120px;
  height: 39px;
  text-align: center;
}

.footer-copyrigth-link:hover path {
  fill: #81b3d2;
}

.footer-copyrigth-link:active path {
  fill: #bdbbbc;
}

.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.modal-error {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }

  60% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  90% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  60% {
    -webkit-transform: translatX(50px);
    transform: translateX(50px);
  }

  90% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {

  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
